* {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

html {
    height: 100%;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    height: 100%;
}

input {
    outline: none;
    font-size: 1.2rem;
    width: 90px;
    border: solid gray;
    border-radius: 10px;
}

button {
    outline: none;
    font-size: 1.2rem;
    border: solid gray;
    border-radius: 10px;
    cursor: pointer;
}

a {
    font-size: 1.2rem;
    color: lime;
    text-decoration: none;
    line-height: 30px;
}
a:hover {
    text-decoration: underline;
}
a.active {
    color: cyan;
}

h1 {
    font-size: 2.5rem;
}

.resetBtn {
    cursor: not-allowed;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
}
.login form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-height: 100%;
}
.login form input {
    margin: 25px;
    font-size: 1.5rem;
    width: 80%;
    height: 100px;
}
.login form button {
    font-size: 1.5rem;
}

.bar {
    position: fixed;
    float: none;
    width: 100%;
}
.bar tbody tr td {
    vertical-align: center;
}
.bar #menuBtnCol {
    font-size: 4rem;
}
.bar #nameCol {
    width: 40%;
}
.bar #balance {
    width: 40%;
    font-size: 1.5rem;
}
#displayName {
    font-size: 3rem;
}

.menu {
    background-color: darkgray;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    transition: 0.2s ease-in-out;
}
.menu.active {
    left: 0;
}

.menuContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menuContent {
    width: 80%;
    font-size: 1.5rem;
}
.menuContent tr:nth-child(odd) {
    background-color: #454545;
    color: #fdfdfd;
}
.menuContent tr td {
    border: solid;
    height: 75px;
}
.menuContent tr td:first-child {
    width: 20%;
    font-size: 1.8rem;
}
.menuContent tr td:last-child {
    width: 80%;
    cursor: pointer;
}

.mainWrapper {
    display: none;
    background-color: #bdbdbd;
    border: solid #bdbdbd;
    border-radius: 12px;
    padding: 10px;
    font-size: 1.3rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    height: 75%;
    width: 85%;

    overflow-y: initial;
}
.mainWrapper.active {
    display: unset;
}

#profileWrapper input {
    width: 85%;
    margin-top: 12px;
}
#profileWrapper #pwError {
    color: red;
}

.doubleTable {
    margin: 0 auto;
    width: 70%;
    font-size: 1.5rem;
}
.doubleTable tr:nth-child(odd) {
    background-color: #454545;
    color: #fdfdfd;
}
.doubleTable tr:nth-child(even) td {
    border: solid #454545;
}

.colBtn {
    cursor: pointer;
}

#buyGreat {
    color: #fdfdfd;
    background-color: #454545;
    border: solid #454545;
    border-radius: 14px;
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}